@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Reddit+Sans:ital,wght@0,200..600;1,200..600&display=swap");

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.reddit-sans-regular {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.reddit-sans-italic {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.reddit-sans-bold {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

h4,
h5,
h6 {
  font-family: "Reddit Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h4 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}

h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.8rem;
}
