---
import YoutubeLayout from "@layouts/YoutubeLayout.astro";
import type { VideoData } from "@components/Types";
import { videoList } from "@components/VideoList";
import VideoNoEncontrado from "@components/VideoNoEncontrado.astro";
const idPage = "20211227";
const videoData: VideoData | undefined = videoList.find(
  (video) => video.idPage === idPage
);
---

{
  videoData ? (
    <YoutubeLayout videoData={videoData}>
      <p>{videoData.description}</p>
    </YoutubeLayout>
  ) : (
    <YoutubeLayout videoData={undefined}>
      <VideoNoEncontrado />
    </YoutubeLayout>
  )
}
