---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Quiénes Somos";
const activePage = "about";
---

<BaseLayout pageTitle={pageTitle} activePage={activePage}>
  <h4 class="subtitle">¿Por qué nos llamamos "Querube Son"?</h4>

  <p>
    "Querube" es una palabra que resuena con fuerza en la poesía cuando se habla
    de los querubines, seres angelicales según la teología cristiana. Estos
    ángeles, que ocupan el segundo lugar en los nueve coros celestiales, son
    vistos como los guardianes de la gloria de Dios. Su nombre evoca una
    “plenitud de conocimiento” y una sabiduría que rebosa. Su inteligencia
    extrema les permite conocer a Dios de una manera que ningún ser humano
    puede, y son símbolos de la juventud.
  </p>
  <p>
    Nosotros somos un grupo de entuciastas venezolanos, y por supuesto, latinos,
    a quienes Dios ha bendecido con dones musicales, de allí el "Son", palabra
    usada para dar nombre a algunos géneros musicales en la música afrocaribeña.
    Decidimos formar “Querube Son” para aprovechar estos dones divinos y
    compartir con nuestro público el sabor latino que llevamos en nuestro
    corazón.
  </p>
  <p>
    En otras palabras, somos "Los Querubines del Ritmo", un grupo de entuciastas
    de la música latina, llenos de energía y pasión, llevando la música y la
    alegría a cada rincón. ¡Bienvenidos a nuestra familia musical!
  </p>
</BaseLayout>

<style>
  @import "../css/colors.css";
  @import "../css/fonts.css";

  .subtitle {
    color: var(--dark-accent-color);
  }
</style>
