---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Blog";
const activePage = "blog";
---

<BaseLayout pageTitle={pageTitle} activePage={activePage}>
  <p>Lista de las entradas del Blog</p>
</BaseLayout>
