---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Contáctanos";
const activePage = "contact";
---

<BaseLayout pageTitle={pageTitle} activePage={activePage}>
  <p>Formulario de Contacto</p>
</BaseLayout>
