---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Eventos";
const activePage = "eventos";
---

<BaseLayout pageTitle={pageTitle} activePage={activePage}>
  <p>Aquí publicarán los eventos</p>
</BaseLayout>
