---
import BaseLayout from "@layouts/BaseLayout.astro";
import VideoArticle from "@components/VideoArticle.astro";
import { videoList } from "@components/VideoList";
import type { VideoData } from "@components/Types";
const pageTitle = "Videos de Youtuve";
const activePage = "videos";
import { Image } from "astro:assets";
import burritoSabanero from "../images/youtube/burritoSabanero.jpg";
import homenajeHectorLavoe from "../images/youtube/homenajeHectorLavoe.jpg";
import miViejo from "../images/youtube/miViejo.jpg";
const images = {
  "y8Rqb-P1NvI": miViejo,
  hPCejhyo8y0: burritoSabanero,
  pdbj8nDhU6c: homenajeHectorLavoe,
};
---

<BaseLayout pageTitle={pageTitle} activePage={activePage}>
  <section class="video-list">
    {videoList.map((video: VideoData) => <VideoArticle video={video} />)}
  </section>
</BaseLayout>

<style lang="scss">
  @import "../sass/colores";
  @import "../sass/fonts";

  section.video-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 75rem;
    gap: 1.5rem;
  }
</style>
