---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Videos";
const activePage = "videos";
---

<BaseLayout pageTitle={pageTitle} activePage={activePage}>
  <h2>Homenaje a Hector Lavoe</h2>
</BaseLayout>

<style lang="scss">
  @import "../sass/colores";
  @import "../sass/fonts";
</style>
