---
import { Image } from "astro:assets";
import Navigation from "@components/Navigation.astro";
import querubeSonLogo from "../images/querubesonLogo.png";
const { activePage } = Astro.props;
---

<header>
  <a href="/" class="logo">
    <Image src={querubeSonLogo} alt="QS" height={128} width={128} />
  </a>
  <Navigation activePage={activePage} />
</header>

<style>
  @import "../css/colors";
  @import "../css/fonts";
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    background-color: var(--primary-color);
  }
  a.logo {
    cursor: pointer;

    & img {
      height: 70px;
      width: auto;
      transition: all 0.3s;

      &hover {
        transform: scale(1.2);
      }
    }
  }
</style>
