---
import { Image } from "astro:assets";
import Navigation from "@components/Navigation.astro";
import querubeSonLogo from "../images/querubesonLogo.png";
const { activePage } = Astro.props;
---

<header>
  <a href="/" class="logo">
    <Image src={querubeSonLogo} alt="QS" height={128} width={128} />
  </a>
  <Navigation activePage={activePage} />
  <a href="#" id="btnContactanos" class="btn"><button>Contáctanos</button></a>
</header>

<style>
  @import "../css/colors";
  @import "../css/fonts";
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    background-color: var(--primary-color);
  }
  a.logo {
    cursor: pointer;
  }
  a.logo > img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
  }
  a.logo > img:hover {
    transform: scale(1.2);
  }

  .btn > button {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-accent-color);
    background-color: var(--background-color);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .btn > button:hover {
    background-color: var(--accent-color);
    color: var(--dark-color);
    transform: scale(1.1);
  }

  @media (max-width: 940px) {
    .btn {
      display: none;
    }
  }
</style>
