---
import Icon from "@components/Icon.astro";
const { sectionTitle } = Astro.props;
---

<section>
  <h1>{sectionTitle}</h1>
  <h4>En construcción</h4>
  <Icon name="construction" size="5em" />
  <p>Está sección se encuentra en construccion</p>
</section>

<style lang="scss">
  @import "../sass/colores";
  @import "../sass/fonts";

  section {
    text-align: center;
  }
</style>
