---
import ActiveLink from "@components/ActiveLink.astro";
import Icon from "@components/Icon.astro";
const menuItems = [
  { to: "about", description: "Quiénes somos", iconName: "group" },
  { to: "videos", description: "Videos", iconName: "video" },
  { to: "eventos", description: "Eventos", iconName: "event" },
  { to: "blog", description: "Blog", iconName: "blog" },
];
const { activePage } = Astro.props;
---

<nav class="menuNav">
  <ul class="nav-links">
    {
      menuItems.map((menuItem) => (
        <li>
          <ActiveLink
            activePage={activePage}
            to={activePage === "youtube" ? "../" + menuItem.to : menuItem.to}
          >
            <>
              <Icon name={menuItem.iconName} size="2em" />
              <div>{menuItem.description}</div>
            </>
          </ActiveLink>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @import "../css/colors";
  @import "../css/fonts";
  ul.nav-links {
    list-style: none;
  }
  ul.nav-links > li {
    display: inline-block;
    padding: 0 20px;
    font-family: "Alegreya", sans-serif;
    font-weight: 400;
  }
  ul.nav-links > li:hover {
    transform: scale(1.1);
  }
  @media (max-width: 940px) {
    nav.menuNav {
      display: none;
    }
  }
</style>
