---
import ActiveLink from "@components/ActiveLink.astro";
import Icon from "@components/Icon.astro";
import type { MenuItem } from "./MenuInfo";
interface Props {
  activePage: string;
  menuItems: MenuItem[];
}
const { activePage, menuItems } = Astro.props;
---

<nav class="menuNav">
  <ul class="nav-links">
    {
      menuItems.map((menuItem) => (
        <li>
          <ActiveLink
            activePage={activePage}
            to={activePage === "youtube" ? "../" + menuItem.to : menuItem.to}
          >
            <>
              <Icon name={menuItem.iconName} size="2em" />
              <div class="menu-description">{menuItem.description}</div>
            </>
          </ActiveLink>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @import "../css/colors";
  @import "../css/fonts";
  ul.nav-links {
    list-style: none;
    & li {
      display: inline-block;
      padding: 0 20px;
      font-family: "Alegreya", sans-serif;
      font-weight: 400;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
  @media (max-width: 940px) {
    .menu-description {
      display: none;
    }
  }
  @media (max-width: 670px) {
    nav.menuNav {
      display: none;
    }
  }
</style>
