---
import "../css/colors.css";
import Icon from "./Icon.astro";
import type { MenuItem } from "./MenuInfo";
interface Props {
  activePage: string;
  menuItems: MenuItem[];
}
const { activePage, menuItems } = Astro.props;
---

<>
  <button id="btnSideMenu"><Icon name="menu" size="2em" /></button>
  <div id="borderMenu">
    <nav class="menuSide">
      <ul class="nav-links">
        {
          menuItems.map((menuItem) => (
            <li>
              <a
                href={
                  activePage === "youtube" ? "../" + menuItem.to : menuItem.to
                }
              >
                <Icon name={menuItem.iconName} size="2em" />
                <div class="menu-description">{menuItem.description}</div>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</>

<script>
  document.getElementById("btnSideMenu")?.addEventListener("click", () => {
    let menuSide = document.getElementById("borderMenu");
    if (menuSide?.classList.contains("active")) {
      menuSide.classList.remove("active");
      return;
    }
    if (menuSide) {
      menuSide.classList.add("active");
    }
  });
</script>

<style>
  #borderMenu {
    display: none;
    position: absolute;
    width: 256px;
    transition: left 0.5s ease-in-out;
    left: -275px;
    height: 245px;
    z-index: 1;
    top: 0;

    aspect-ratio: 10/16;
    padding: 5px;
    border-radius: 16px;

    background-image: var(--golden-gradient);
    background-size: 150%;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, 0.3));
    animation: MoveBackgroundPosition 6s ease-in-out infinite;
  }
  @keyframes MoveBackgroundPosition {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  nav.menuSide {
    display: none;
    position: absolute;
    width: 250px;
    left: -252px;
    top: 6px;
    transition: left 0.5s ease-in-out;
    z-index: 1;

    padding: 0px;
    justify-content: left;
    align-items: center;
    border-radius: 12px;

    background-color: var(--dark-accent-color);

    & ul.nav-links {
      list-style: none;
      margin-left: 0px;
      width: 100%;
      padding: 0;

      & li {
        width: 100%;
        margin-left: 0;

        &:hover {
          width: 100%;
          background-image: var(golden-gradient);
        }

        & a {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 30px;
          color: var(--secondary-color);

          &:hover {
            text-shadow: 1px 1px 2px black;
            color: white;
            font-weight: bolder;
          }

          & .menu-description {
            margin-left: 8px;
          }
        }
      }
    }
  }

  #borderMenu.active {
    transition: left 0.8s ease;
    left: 0px;

    & .menuSide {
      transition: left 0.5s ease-in-out;
      left: 7px;
    }
  }
  #btnSideMenu {
    display: none;
    text-align-last: right;
  }

  @media (max-width: 670px) {
    #borderMenu,
    nav.menuSide {
      display: inline-flex;
    }
    #btnSideMenu {
      display: flex;
    }
  }
</style>
