---
import { Image } from "astro:assets";
import type { VideoData } from "@components/Types";
import burritoSabanero from "../images/youtube/burritoSabanero.jpg";
import homenajeHectorLavoe from "../images/youtube/homenajeHectorLavoe.jpg";
import miViejo from "../images/youtube/miViejo.jpg";
import type { ImageMetadata } from "astro";
interface ImageMetadataArray {
  [index: string]: ImageMetadata;
}
interface Props {
  video: VideoData;
}
const { video } = Astro.props;
const ima: ImageMetadataArray = {
  "y8Rqb-P1NvI": miViejo,
  hPCejhyo8y0: burritoSabanero,
  pdbj8nDhU6c: homenajeHectorLavoe,
};
---

<article class="video">
  <figure class="video-picture">
    <Image src={ima[video.idVideo]} alt="QS" height={270} width={480} />
  </figure>
  <div class="video-data">
    <h2>{video.title}</h2>
    <h4>{video.idVideo}</h4>
    <p>{video.description}</p>
  </div>
</article>
