---
import { format } from "date-fns";
import { Image } from "astro:assets";
import type { VideoData } from "@components/Types";
import burritoSabanero from "../images/youtube/burritoSabanero.jpg";
import homenajeHectorLavoe from "../images/youtube/homenajeHectorLavoe.jpg";
import miViejo from "../images/youtube/miViejo.jpg";
import type { ImageMetadata } from "astro";
interface ImageMetadataArray {
  [index: string]: ImageMetadata;
}
interface Props {
  video: VideoData;
}
const { video } = Astro.props;
const ima: ImageMetadataArray = {
  "y8Rqb-P1NvI": miViejo,
  hPCejhyo8y0: burritoSabanero,
  pdbj8nDhU6c: homenajeHectorLavoe,
};
---

<article class="video">
  <figure class="video-picture">
    <Image src={ima[video.idVideo]} alt="QS" height={270} width={480} />
  </figure>
  <div class="video-data">
    <a href={"videos/" + video.idPage}>
      <h2>{video.title}</h2>
      <h4>Publicado: {format(video.publicationDate, "PPpp")}</h4>
      <p>{video.description}</p>
    </a>
  </div>
</article>

<style lang="scss">
  @import "../sass/colores";
  @import "../sass/fonts";
  article.video {
    max-width: 20rem;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 1rem;
    background-color: rgba(#ddd, 0.7);

    figure.video-picture {
      margin: 0 auto;
      width: 100%;
      height: 12rem;
      overflow: hidden;

      img {
        max-width: 100%;
        transform-origin: center;
        transition: transform 0.4s ease-in-out;

        height: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        object-fit: cover;
      }
    }
    .video-data {
      //background: white;
      padding: 1.5rem;
      a {
        text-decoration: none;
        color: black;

        h2 {
          margin: 0 0 1rem 0;
          font-size: 1.2rem;
          transition: color 0.3s ease-out;
          color: $primary-color;
        }
        h4 {
        }
        p {
        }
      }
    }
  }
  article.video:hover {
    background-color: rgba(#ddd, 0.95);
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
    transition-duration: 80ms;
    figure.video-picture {
      img {
        transform: scale(1.5);
      }
    }
  }
</style>
