/* Esquema de Colores Querube Son */
html {
  --primary-color: #0070aa;
  --secondary-color: #ab7500;
  --accent-color: #ab4100;
  --dark-accent-color: #1a2e38;

  --background-color: #cccccc;
  --transparent-background-color: #cccccc88;
  --dark-background-color: #202020;

  --color: #101010;
  --dark-color: #dddddd;

  --golden-gradient: repeating-linear-gradient(
    to right,
    #a2682a 0%,
    #be8c3c 8%,
    #be8c3c 18%,
    #d3b15f 27%,
    #faf0a0 35%,
    #ffffc2 40%,
    #faf0a0 50%,
    #d3b15f 58%,
    #be8c3c 67%,
    #b17b32 77%,
    #bb8332 83%,
    #d4a245 88%,
    #e1b453 93%,
    #a4692a 100%
  );

  color: var(--color);
}
