---
import "../css/colors.css";
import "../css/fonts.css";
import Header from "@components/Header.astro";
import BackgroundPictures from "@components/BackgroundPictures.astro";
import Footer from "@components/Footer.astro";
const { pageTitle, activePage } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BackgroundPictures />
    <Header activePage={activePage} />
    <div class="wrapper">
      <h1>{pageTitle}</h1>
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--background-color);
  }

  .wrapper {
    max-width: 1400px;
    min-height: 460px;
    width: 80%;
    height: max-content;
    box-sizing: border-box;
    margin: 0.4rem auto;
    padding: 1rem;
  }

  @media (max-width: 1400px) {
    .wrapper {
      width: 980px;
    }
  }

  @media (max-width: 1200px) {
    .wrapper {
      width: 850px;
    }
  }

  @media (max-width: 990px) {
    .wrapper {
      width: 90%;
    }
  }

  @media (max-width: 768px) {
    .wrapper {
      width: 95%;
    }
  }

  @media (max-width: 576px) {
    .wrapper {
      width: 100%;
    }
  }
</style>
